.container{
    display: flex;
    margin-left: 15%;
    align-items: center;
}

.contador{
    display: flex;
    flex-direction: column;
}

.placeholderDays{
    width: 20vh;
    margin-left: 1%;
    transform:translate(-10vw) rotate(350deg);
}

.daysCounter{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #fff;
}

#digitOne{
    transform: translate(-19vw,1vh) rotate(343deg);
    font-size: 134px;
}

#digitTwo{
    transform: translate(-17vw,-0vh) rotate(352deg);
    font-size: 104px;
}
.daysPng{
    width: 44vh;
    transform: translate(-16vw,-2vh) rotate(358deg);
}

.placeholderTimer{
    width: 40vh;
    height: 30%;
    margin-left: 10%;
    transform:translate(0,-8vh) rotate(355deg);
}

.counterEndDay{
    display: flex;
}

.digitsCounter{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #fff;
}

#numberOne{
    transform:rotate(349deg) translate(-35vh, -22vh);
    font-size: 92px;
}

#numberTwo{
    transform:rotate(359deg) translate(-36vh, -14vh);
    font-size: 80px;
}

#numberThree{
    transform:rotate(350deg) translate(-29vh, -20vh);
    font-size: 78px;
}

#numberFour{
    transform:rotate(348deg) translate(-26vh, -19vh);
    font-size: 64px;
}

#numberFive{
    transform:rotate(3deg) translate(-28vh, -13vh);
    font-size: 72px;
}

#numberSix{
    transform:rotate(3deg) translate(-26vh, -11vh);
    font-size: 60px;
}
.to{
    width: 18vh;
    margin-left: 17%;
    transform: translate(-2vh,-22vh);
}
