.bgFeed{
    background-image: url(../../public/images/backgroundImageBottom.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.feed{
    width: 25%  ;
}

@font-face {
    font-family: bubblegumSuperStar;
    src: url(../../public/fonts/BUBBS___.TTF);
}

.news{
    font-family: bubblegumSuperStar;
    font-size: 84px;
    color: #fff;
}

.containerFeed{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.parallelogram{
    width: 500px;
    height: 800px;
    background-color: #000;
    border: #fff;
    border-style: solid;
    transform: skew(7deg,0) translate(0,100px);
}

.footerList{
    display: flex;
    list-style: none; 
    font-family: bubblegumSuperStar;
    font-size: 22px;
    margin-top: 10%;
}

.footerLink{
    margin-right: 2%;
}

a {
    text-decoration: none;
    color: #000;
}

