.bgFeed{
    background-image: url(../../public/images/backgroundImageBottom.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.feed{
    width: 25%  ;
}

@font-face {
    font-family: bubblegumSuperStar;
    src: url(../../public/fonts/BUBBS___.TTF);
}

.news{
    font-family: bubblegumSuperStar;
    font-size: 84px;
}

.containerFeed{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

