body{
  background-color: #eb1c22;
}

.bgTop{
  background-image: url(../public/images/backgroundImageTop.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logoP5{
  width: 100vh;
  height: 30%;
  transform: translate(-10vh,-40vh);
}

.container{
  display: flex;

}